/* background-color es para colocar color de fondo */
.bg-primary{
    background-color: #46518c;
}

.bg-secondary{
    background-color: #f69e7b;
}

.bg-info{
    background-color: #d4b5b0;
}

/* color es para colocar color a las letras */
.text-primary{
    color: #383e56;
}

.text-light{
    color: #eedad1;
}

.text-secondary{
    color: #f69e7b;
}

/* text-align es para alinear un texto ya sea center, right o left */
.text-center{
    text-align: center;
}

.width-100{
    width: 100px;
}